.input {
    width: 100%;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input input {
    width: 75%;
    border: 1px solid #6c6c6c;
    border-radius: 12px;
    padding: 8px;
    margin-right: 10px;
}

.input .input-icon {
    position: absolute;
    right: 110px;
    top: 10px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.input .input-icon:hover {
    color: #009A97;
}

.input button {
    padding: 10px 16px;
    color: #000;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    background-color: #00cdcd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input button .button-icon {
    padding-right: 5px;
}

.strength {
    width: 100%;
    font-size: 12px;
    text-align: left;
    font-weight: 600;
    height: 20px;
}

.slide {
    width: 100%;
    margin-top: 10px;
}

.slide .slide-detail {
    font-size: 14px;
    letter-spacing: .5px;
    padding-bottom: 6px;
}

.slide .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slide .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00cdcd;
    cursor: pointer;
}

.settings {
    margin-top: 30px;
    width: 100%;
}

.settings ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.settings ul li {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.settings ul li input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.settings ul li input:checked {
    accent-color: #00cdcd;
}